<h1>Welcome to the Car Simulator</h1>
<h5>Please input car information below</h5>
<form action="/cars/simulator" method="get">
  <label>Make </label>
    <input type="text" name="make">
  <label>Model </label>
    <input type="text" name="model">
  <label>Year </label>
    <input type="number" name="year">
  <button type="submit">Simulate Car</button>
</form>
